@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
        top: 50px;
        position: relative;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px!important;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #1a242f!important;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px !important;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #222;
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1a242f !important;
    }
}
.category_image_block{
    width: 450px;
    height: 250px;
}
.category_image_block > img, .cat_img{
    width: 50px;
    float: left;
    margin-right: 10px;
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 6px;
    font-size: 10px;
    font-weight: normal;
    min-width: 15px;
    min-height: 15px;
    line-height: 1.0em;
    text-align: center;
    padding: 2px;
}

.navbar .nav > li > a:hover > .label {
    top: 10px;
}

.navbar-brand {
    padding: 5px 15px!important;
}

/*Content style */
#lead {
    max-width: 400px;
}
#description {
    max-width: 600px;
}
#user_id {
    max-width: 150px;
}
@media (max-width: 768px) {
    #main{
        margin: 125px 0px 0px 0px;
    }
}
.product_img {
    width: 200px;
}
hr{ border-top: 1px solid #666!important;}

.catfilter{
    width: 200px!important;
    float:left;
    margin-right: 10px;
}
.products_item{
    max-width: 300px;
    height: 320px;
    float: left;
    padding: 5px;
}
fieldset{
    margin-top: 10px!important;
}
select{
    max-width: 250px;
}
.product_frame{
    width: 100%;
    height: 500px;
}
.header_block{
    margin: 5px 15px 5px 5px;
}
.link_block{
    position: absolute;
    right: 50px;
}

div .link_block{
    float: right;
}
.block_info{
    float: left;
    min-width: 400px;
    margin-right: 20px;
}
.block_img_links{
    float: left;
}
.block-news{
    display: grid;
}
.block_news_items, .all_category{
    border-bottom: 2px dotted #3A3A3A;
}
.all_category{
    padding-bottom: 10px;
}
p, span{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    margin: 0 !important;
}
.btn-info{
    float: left;
}

/*
Стили для поиска
*/

.search{
    position:relative;
}

.search_result{
    background: #FFF;
    border: 1px #ccc solid;
    width: 400px;
    border-radius: 4px;
    max-height:200px;
    overflow-y:scroll;
    display:none;
}

.search_result li{
    list-style: none;
    padding: 5px 10px;
    margin: 0 0 0 -40px;
    color: #0896D3;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
    transition:0.3s;
}

.search_result li:hover{
    background: #F9FF00;
}


/*Tabs style*/
/* Базовый контейнер табов */
@media(min-width:768px) {
    .tabs {
        min-width: 320px;
        max-width: 800px;
        padding: 0px;
        margin: 16px 0 0 0;
    }

    /* Стили секций с содержанием */
    .tabs > section {
        display: none;
        padding: 15px;
        background: #fff;
        border: 1px solid #ddd;
    }

    .tabs > section > p {
        margin: 0 0 5px;
        line-height: 1.5;
        color: #383838;
        /* прикрутим анимацию */
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }

    /* Описываем анимацию свойства opacity */
    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    /* Прячем чекбоксы */
    .tabs > input {
        display: none;
        position: absolute;
    }

    /* Стили переключателей вкладок (табов) */
    .tabs > label {
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 25px;
        font-weight: 600;
        text-align: center;
        color: #aaa;
        border: 0px solid #ddd;
        border-width: 1px 1px 1px 1px;
        background: #f1f1f1;
        border-radius: 3px 3px 0 0;
    }

    /* Шрифт-иконки от Font Awesome в формате Unicode */
    .tabs > label:before {
        font-family: fontawesome;
        font-weight: normal;
        margin-right: 10px;
    }

    /*
    .tabs>label[for*="1"]:before {
        content: "\f19a";
    }
    .tabs>label[for*="2"]:before {
        content: "\f17a";
    }
    .tabs>label[for*="3"]:before {
        content: "\f13b";
    }
    .tabs>label[for*="4"]:before {
        content: "\f13c";
    }*/
    /* Изменения стиля переключателей вкладок при наведении */
    .tabs > label:hover {
        color: #888;
        cursor: pointer;
    }

    /* Стили для активной вкладки */
    .tabs > input:checked + label {
        color: #555;
        border-top: 1px solid #269abc;
        border-bottom: 1px solid #fff;
        background: #fff;
    }

    /* Активация секций с помощью псевдокласса :checked */
    #tab1:checked ~ #content-tab1, #tab2:checked ~ #content-tab2, #tab3:checked ~ #content-tab3, #tab4:checked ~ #content-tab4 {
        display: block;
    }

    /* Убираем текст с переключателей
    * и оставляем иконки на малых экранах
    */
    @media screen and (max-width: 680px) {
        .tabs > label {
            font-size: 0;
        }

        .tabs > label:before {
            margin: 0;
            font-size: 18px;
        }
    }
    /* Изменяем внутренние отступы
    *  переключателей для малых экранов
    */
    @media screen and (max-width: 400px) {
        .tabs > label {
            padding: 15px;
        }
    }
}

/*Стили для добавления поля ингридиентов*/
.ingredient_selected{
    width: 300px;
}
strong.ingredient_selected{
    width: 385px;
}
#ingredient_select{
    width: 400px;
}
strong.weight{
    margin: 0 0 0 20px;
}
.ingredient_selected, .ing_icon, .ingredient_select>select, .weight_input, .option_select, .opt_icon{
    float: left;
}

#weight_input1, #weight_input2{
    width: 60px;
}
.input_weight{
    float: left;
    width: 60px!important;
}
.ing_row{
    height: 60px;
    width: 1000px;
}
.ing_row > strong{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.2;
    color: #333;
}

.ing_row > div{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 50px;
    color: #333;
    margin: 0 0 0 10px;
}

.option{
    width: 60px !important;
    float: left;
    margin: 0 10px 0 0;
}
.opt_icon > img, .opt_icon > p{
    width: 20px;
    height: 20px;
    margin: 0 60px 0 10px !important;
}
/*Color picker ingredient*/
.yui-picker-hue-thumb {
    cursor: default;
    width: 18px;
    height: 18px;
    top: -8px;
    left: -2px;
    z-index: 9;
    position: absolute;
}

.yui-picker-hue-bg {
    -moz-outline: none;
    outline: 0 none;
    position: absolute;
    left: 375px;
    height: 366px;
    width: 28px;
    background: url(/App/images/color_img/hue_bg.png) no-repeat;
    top: 4px;
}

.yui-picker-bg {
    -moz-outline: none;
    outline: 0 none;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 364px;
    width: 364px;
    background-color: #F00;
    background-image: url(/App/images/color_img/picker_mask_001.png);
}

.yui-picker-thumb {
    cursor: default;
    width: 11px;
    height: 11px;
    z-index: 9;
    position: absolute;
    top: -4px;
    left: -4px;
}

.yui-picker-swatch {
    position: absolute;
    left: 415px;
    top: 10px;
    height: 155px;
    width: 195px;
    border: 2px solid #7c7c7c;
}

.yui-picker-controls {
    position: absolute;
    top: 180px;
    left: 415px;
    font: 20px monospace;
}

.yui-picker-controls .hd {
    background: transparent;
    border-width: 0 !important;
}

.yui-picker-controls .bd {
    height: 100px;
    border-width: 0 !important;
}

.yui-picker-controls ul {
    float: left;
    padding: 0 2px 0 0;
    margin: 0;
}

.yui-picker-controls li {
    padding: 2px;
    list-style: none;
    margin: 0;
}

.yui-picker-controls input {
    font-size: 20px;
    width: 2.4em;
}

.yui-picker-hex-controls {
    clear: both;
    padding: 20px 0 0 0;
    font: 25px monospace;
}

.yui-picker-hex-controls input {
    width: 120px;
    font: 40px monospace bold;
    margin-left: -10px;
}

.yui-picker-controls a {
    font: 20px arial, helvetica, clean, sans-serif;
    display: block;
    *display: inline-block;
    padding: 0;
    color: #000;
}

#container {
    background-color: #C2FFFF;
    height: 380px;
    width: 625px;
    position: relative;
    margin: 0px auto;
}

#insertcolor {
    background-color: #C2FFFF;
    width: 615px;
    font-size: 20px;
    position: relative;
    text-align: right;
    padding: 5px;
    margin: 5px auto;
}

input#startcolor {
    font-size: 16px;
    width: 90px;
}

button#newcolor {
    font-size: 16px;
}

#first {
    background-color: #fff;
    padding: 5px;
    border: 1px solid black;
}